<?php
defined('EVENT_ESPRESSO_VERSION') || exit('No direct access allowed.');

/**
 * EE_{{addon_package}}_Config
 * This is the config class for {{addon_name}}.
 *
 * @package EventEspresso\{{addon_package}}
 * @subpackage config
 * @author  {{addon_author}}
 * @since   1.0.0
 */
class EE_{{addon_package}}_Config extends EE_Config_Base
{

}
