{
    "versionFile" : "{{addon_slug}}.php",
    "slug" : "{{addon_slug}}",
    "name" : "{{addon_name}}",
    "archiveBaseUrl" : "http://build.eventespresso.com/",
    "archiveBasePath" : "~/www/build/",
    "releaseFilesRemove" : [
        "src/tests/**",
        "src/info.json",
        "src/circle.yml",
        "src/.gitignore"
    ],
    "github" : false,
    "awsbucket" : "",
    "awsregion" : ""
}