<?php
/*
 * Plugin Name: {{addon_name}} (EE {{addon_core_version_required}}+)
 * Plugin URI: {{addon_url}}
 * Description: {{addon_description}}
 * Version: {{addon_version}}
 * Author: {{addon_author}}
 * Author URI: {{addon_author_url}}
 */

// define versions and this file
define('{{addon_core_version_required_constant}}', '{{addon_core_version_required}}');
define('{{addon_version_constant}}', '{{addon_version}}');
define('{{addon_plugin_file_constant}}', __FILE__);
define('{{addon_basename_constant}}', plugin_basename({{addon_plugin_file_constant}}));
define('{{addon_path_constant}}', plugin_dir_path(__FILE__));
define('{{addon_url_constant}}', plugin_dir_url(__FILE__));



/**
 *    captures plugin activation errors for debugging
 */
function {{addon_underscore_slug}}_plugin_activation_errors()
{
    if (WP_DEBUG) {
        $activation_errors = ob_get_contents();
        file_put_contents(
            EVENT_ESPRESSO_UPLOAD_DIR . 'logs' . DS . '{{addon_slug}}_plugin_activation_errors.html',
            $activation_errors
        );
    }
}
add_action('activated_plugin', '{{addon_underscore_slug}}_plugin_activation_errors');



/**
 *    registers addon with EE core
 */
function load_{{addon_underscore_slug}}()
{
    if (class_exists('EE_Addon')) {
        // new_addon version
        require_once plugin_dir_path(__FILE__) . 'EE_{{addon_package}}.class.php';
        EE_{{addon_package}}::register_addon();
    } else {
        add_action('admin_notices', '{{addon_underscore_slug}}_activation_error');
    }
}
add_action('AHEE__EE_System__load_espresso_addons', 'load_{{addon_underscore_slug}}');



/**
 *    verifies that addon was activated
 */
function {{addon_underscore_slug}}_activation_check()
{
    if (! did_action('AHEE__EE_System__load_espresso_addons')) {
        add_action('admin_notices', '{{addon_underscore_slug}}_activation_error');
    }
}
add_action('init', '{{addon_underscore_slug}}_activation_check', 1);



/**
 *    displays activation error admin notice
 */
function {{addon_underscore_slug}}_activation_error()
{
    unset($_GET[ 'activate' ]);
    unset($_REQUEST[ 'activate' ]);
    if (! function_exists('deactivate_plugins')) {
        require_once(ABSPATH . 'wp-admin/includes/plugin.php');
    }
    deactivate_plugins(plugin_basename({{addon_plugin_file_constant}}));
    ?>
    <div class="error">
        <p>
            <?php printf(
                esc_html__(
                    '{{addon_name}} could not be activated. Please ensure that Event Espresso version %1$s or higher is running',
                    'event_espresso'
                ),
                {{addon_core_version_required_constant}}
            ); ?>
        </p>
    </div>
    <?php
}
