<div class="padding">
    <ul>
        <li>
            <strong>
                <?php esc_html_e('How to use:', 'event_espresso'); ?>
            </strong><br />
            <?php esc_html_e('Instructions for this admin page can go here.', 'event_espresso'); ?>
        </li>
    </ul>
</div>
<!-- / .padding -->