<?php
defined('EVENT_ESPRESSO_VERSION') || exit('No direct access allowed.');

/**
 * {{admin_page_package}}_Admin_Page_Init
 * This is loaded for initializing the admin page by the admin page loader.
 *
 * @package EventEspresso
 * @subpackage admin
 * @author  {{addon_author}}
 * @since   {{addon_version}}
 */
class {{admin_page_package}}_Admin_Page_Init extends EE_Admin_Page_Init
{
    /**
     * constructor
     */
    public function __construct()
    {
        if (! defined('{{admin_page_package_capitalized}}_ADMIN_PATH')) {
            define('{{admin_page_package_capitalized}}_ADMIN_PATH', {{addon_path_constant}} . 'admin/{{admin_page_underscore_slug}}/');
            define('{{admin_page_package_capitalized}}_ADMIN_PAGE_SLUG', '{{admin_page_underscore_slug}}');
            define('{{admin_page_package_capitalized}}_ADMIN_PAGE_LABEL', esc_html__('{{admin_page_name}}', 'event_espresso'));
            define('{{admin_page_package_capitalized}}_ADMIN_URL', admin_url('admin.php?page=' . {{admin_page_package_capitalized}}_ADMIN_PAGE_SLUG));
            define('{{admin_page_package_capitalized}}_ADMIN_TEMPLATE_PATH', {{admin_page_package_capitalized}}_ADMIN_PATH . 'templates/');
            define(
                '{{admin_page_package_capitalized}}_ADMIN_TEMPLATE_URL',
                {{addon_url_constant}} . 'admin/{{admin_page_underscore_slug}}/templates/'
            );
        }
        parent::__construct();
        $this->_folder_path = {{admin_page_package_capitalized}}_ADMIN_PATH;
    }

    /**
     * Set initial properties.
     */
    protected function _set_init_properties()
    {
        $this->label = {{admin_page_package_capitalized}}_ADMIN_PAGE_LABEL;
    }

    /**
     * The menu map is used to register this with the admin menu.
     */
    protected function _set_menu_map()
    {
        $this->_menu_map = new EE_Admin_Page_Sub_Menu(array(
            'menu_group'      => 'addons',
            'menu_order'      => 25,
            'show_on_menu'    => EE_Admin_Page_Menu_Map::BLOG_ADMIN_ONLY,
            'parent_slug'     => 'espresso_events',
            'menu_slug'       => {{admin_page_package_capitalized}}_ADMIN_PAGE_SLUG,
            'menu_label'      => {{admin_page_package_capitalized}}_ADMIN_PAGE_LABEL,
            'capability'      => 'administrator',
            'admin_init_page' => $this,
        ));
    }
}